body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255); /* Initial background */
  transition: background-color 1s ease; /* Smooth transition */
}

.timer-cont {
  background: white;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.bold {
  font-weight: bold;
}

[data-bs-theme="dark"] {
  background-color: #444444;
  color: #ffffff;
}

[data-bs-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}
